/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-size: 100%;
} */

body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

.container {
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/opacity/see-through */
    color: black;
    font-weight: bold;
    border: 3px solid #ffcb06;
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 33%;
    padding: 20px;
    text-align: center;
}

.container ul li {
    text-align: left;
    margin: 22px;
}

input {
    border: 1px solid #ffcb06;
    border-radius: 3px;
    padding-left: 0.5rem;
    min-width: 15rem;
    height: 2.5rem;
    margin: 1rem;
}

.btn {
    background-color: #ffcb06;
    border-radius: 3px;
    width: 15rem;
    padding: 10px 25px;
    font-size: medium;
    color: black;
    transition: all 0.3s ease-in-out;
    border: 2px solid #ffcb06;
    position: relative;
    z-index: 99;
    text-transform: capitalize;
    overflow: hidden;
    cursor: pointer;
}

.btn:hover {
    background: hsl(220, 11%, 95%);
}

@media (max-width: 767px) {
    .container {
        width: 110%;
        z-index: 0;
    }
    .signup-container {
        width: 110%;
        z-index: 0;
        margin-top: 70px;
    }
}

.menu-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background: #ffcb06;
    color: black;
    padding: 20px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    box-sizing: border-box;
}

.menu-logo {
    line-height: 0;
    margin: 0 20px;
}

.menu-logo img {
    max-height: 40px;
    max-width: 100px;
    flex-shrink: 0;
}

.menu-container a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
    width: 680px;
}

.menu-container a:hover {
    color: grey;
}

.menu-container input {
    display: block;
    width: 35px;
    height: 25px;
    margin: 0;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
    -webkit-touch-callout: none;
}


/* Burger menu */

.menu-container span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: black;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}

.menu-container span:first-child {
    transform-origin: 0% 0%;
}

.menu-container span:nth-child(3) {
    transform-origin: 0% 100%;
}

.menu-container input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(3px, -1px);
    background: #232323;
}

.menu-container input:checked~span:nth-child(4) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

.menu-container input:checked~span:nth-child(3) {
    transform: rotate(-45deg) translate(-5px, 11px);
}

.menu ul {
    list-style: none;
    margin-left: -50px;
}

.menu li {
    padding: 10px 0;
    font-size: 17px;
}


/* mobile styles */

@media only screen and (max-width: 1024px) {
    .menu-container {
        flex-direction: column;
        align-items: flex-end;
        position: fixed;
        top: 0;
        width: 100%;
    }
    .menu-logo {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    .menu-logo img {
        max-height: 30px;
    }
    .menu {
        position: absolute;
        box-sizing: border-box;
        width: 307px;
        right: -300px;
        top: 80px;
        margin: -20px;
        padding: 10px 15px 120px 35px;
        background: #cdcdcd;
        opacity: 0.96;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */
        transform-origin: 0% 0%;
        transform: translateX(0%);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
        height: 58vh;
        overflow-y: scroll;
    }
    .menu-container input:checked~.menu {
        transform: translateX(-100%);
    }
    .hr-line {
        border: 0;
        border-top: 1px solid black;
        margin: 0;
        width: 15rem;
    }
}


/* desktop styles */

@media only screen and (min-width: 1025px) {
    .menu-container {
        width: 100%;
    }
    .menu-container a {
        color: black;
    }
    .menu-container input {
        display: none;
    }
    /* Burger menu */
    .menu-container span {
        display: none;
    }
    .menu {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .menu ul {
        display: flex;
        padding: 0;
    }
    .menu li {
        padding: 0 20px;
    }
}

.form {
    display: flex;
    flex-direction: column;
}

.info {
    margin-top: 20px;
}

.info a {
    color: #ffcb06;
}

hr {
    /* margin-top: 1rem;
    margin-bottom: 1rem; */
    border: 0;
}

.prize-table {
    width: 100%;
}

.prize-table td,
.prize-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.prize-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.prize-table tr:hover {
    background-color: #ddd;
}

.prize-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: black;
    color: white;
}

.display {
    text-align: center;
    margin-top: 117px;
    font-size: large;
    font-weight: bold;
}

.table-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 80px;
}

.data-item {
    font-size: large;
    text-align: left;
}